APP_NAME="WasteCo Sys API"
API_V1_PREFIX="/api/v1"
AUTO_CREATE_TABLES=true
DATABASE_URL="postgresql://admin:admin123@localhost:5432/mydatabase"
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7
VERIFICATION_TOKEN_EXPIRE_HOURS=24
PASSWORD_RESET_TOKEN_EXPIRE_MINUTES=30
